<div id="header">
    <a id="portfolio" href="">
        🦀
    </a>
    <div id="toys">
        <button (click)="piscapisca()" class="start" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>star</mat-icon>
        </button>
        <button (click)="toggleMode()" class="bulb" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>lightbulb</mat-icon>
        </button>
    </div>
   
</div>